@import "normalize.css";
@import "./utils.scss";

@import "base.scss";
@import "./variables.scss";

body {
  font-family: "Mulish", sans-serif;
  color: $text-color;

  cursor: url("../image/cursor.png"), auto;
}

.chat-button {
  position: fixed;
  right: 30px;
  bottom: 30px;

  display: inline-block;
  width: 64px;
  height: 64px;

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  // background-image: url("https://cdn-icons-png.flaticon.com/512/1653/1653630.png");
  background-image: url("../image/arrow-up-64.png");
  background-repeat: no-repeat;
  background-size: contain;

  cursor: pointer;
}

// section header
.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__wapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
}

.header__right {
  display: flex;
  gap: 50px;

  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.header__link {
  color: $text-color;

  font-size: 18px;
  font-weight: 400;
}

.header__link:hover,
.header__link:focus {
  color: $accent-color;
}

.header__logan {
  color: $title-color;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

// section hero
.hero {
  padding-top: 100px;
  padding-bottom: 100px;

  @media screen and (max-width: $tablet) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.hero__wapper {
  display: flex;

  @media screen and (max-width: $tablet) {
    flex-wrap: wrap;
  }
}

// .hero__left {
//   display: flex;
// }

.hero__right {
  display: flex;
  align-items: flex-start;
}

.hero__title {
  padding-top: 20px;
  margin-bottom: 80px;
  max-width: 621px;
  color: $title-color;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.16;

  @media screen and (max-width: $tablet) {
    font-size: 26px;
    margin-bottom: 45px;
  }
}

.sec-text {
  margin-left: 10px;
  color: #ff6666;
}

.hero__text {
  margin-bottom: 80px;
  max-width: 525px;
  color: $accent-color;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.42;
  letter-spacing: 0.38px;

  @media screen and (max-width: $tablet) {
    // font-size: 26px;
    margin-bottom: 45px;
  }
}

.hero__image {
  // max-width: 568px;

  @media screen and (max-width: $tablet) {
    max-width: 277px;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    max-width: 350px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 557px;
  }
}

.hero__button {
  padding: 20px 30px;
  color: $white-color;
  font-size: 19px;
  font-weight: 700;
  // line-height: 3.15;
  font-family: inherit;

  border: none;
  border-radius: 55px;
  background-color: $accent-color;

  // cursor: pointer;

  cursor: url("../image/cursor-hand.png"), auto;

  @media screen and (max-width: $tablet) {
    // font-size: 26px;
    margin-bottom: 45px;
  }
}

.hero__button:hover,
.hero__button:focus {
  border: 1px solid $accent-color;
  color: $accent-color;
  background-color: $white-color;
}

.service {
  padding-top: 100px;
  padding-bottom: 100px;

  text-align: center;

  background: #f3fbff;

  @media screen and (max-width: $tablet) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.service__title {
  margin-bottom: 36px;
  color: $title-color;
  // text-align: center;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.24;

  @media screen and (max-width: $tablet) {
    font-size: 30px;
  }
}

.service__text {
  // display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  max-width: 767px;
  color: $text-color;
  text-align: center;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.42;
  letter-spacing: 0.38px;
}

.service__list {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.service__item {
  padding: 47px 60px;

  border-radius: 20px;
  background: #fff;

  /* drop shadow */
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
}

.service__item svg {
  width: 90px;
  height: 90px;
  margin-bottom: 22px;
}

.service__item h3 {
  margin-bottom: 1px;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 2.33;

  @media screen and (max-width: $tablet) {
    font-size: 18px;
  }
}

.service__item-extratex {
  margin-bottom: 0;
  text-align: left;
  max-width: 251px;

  color: #7d7987;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;

  @media screen and (max-width: $tablet) {
    font-size: 12px;
  }
}

.section__link {
  display: inline-block;
  margin-top: 70px;
  padding: 20px 30px;
  color: $accent-color;
  background: #f3fbff;
  font-size: 19px;
  font-weight: 700;
  // line-height: 3.15;
  font-family: inherit;

  border: none;
  border-radius: 55px;
  border: 1.4px solid #458ff6;
  // background-color: $accent-color;
  cursor: url("../image/cursor-hand.png"), auto;
  // @media screen and (max-width: $tablet) {
  //   // font-size: 26px;
  //   margin-bottom: 45px;
  // }
}

.section__link:hover,
.section__link:hover {
  background-color: $white-color;
}

// apps
.apps {
  padding-top: 155px;
  padding-bottom: 155px;

  @media screen and (max-width: $desktop) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.apps-wapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 150px;

  @media screen and (max-width: $tablet) {
    flex-direction: column;
    padding-bottom: 70px;
  }
}

.apps-top-left img {
  max-width: 617.86px;
  max-height: 491px;

  @media screen and (max-width: $tablet) {
    max-width: 359px;
  }
}

.apps-top-right h2 {
  margin-bottom: 59px;
  max-width: 467px;
  color: $title-color;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.55;

  @media screen and (max-width: $tablet) {
    font-size: 29px;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    font-size: 28px;
  }
}

.apps-top-right p {
  margin-bottom: 36px;
  max-width: 409px;
  color: $text-color;

  font-size: 18px;
  font-weight: 300;
  line-height: 1.66;

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    font-size: 15px;
  }
}

.apps-top-right a {
  margin-top: 0;
}

.apps-top-left img {
  @media screen and (max-width: $tablet) {
    max-width: 279px;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    max-width: 500px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 617px;
  }
}

.apps-wapper2 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: $tablet) {
    flex-direction: column;
  }
}

.apps-botton-left h2 {
  margin-bottom: 50px;
  max-width: 594px;
  color: $title-color;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.33;

  @media screen and (max-width: $tablet) {
    font-size: 29px;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    font-size: 20px;
  }
}

.apps-botton-left p {
  margin-bottom: 40px;
  max-width: 381px;
  color: $text-color;

  font-size: 18px;
  font-weight: 300;
  line-height: 1.66;

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    font-size: 14px;
  }
}

.apps-botton-left a {
  margin-top: 0;
}

.apps-botton-right img {
  // max-width: 657.534px;

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    max-width: 500px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 657px;
  }
}

// contacts
.contacts {
  padding-top: 200px;
  padding-bottom: 200px;
  background: #f3fbff;

  @media screen and (max-width: $desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.contacts-wapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 200px;

  @media screen and (max-width: $tablet) {
    padding-bottom: 100px;
    flex-direction: column;
  }
}

.contacts-left img {
  @media screen and (max-width: $tablet) {
    margin-bottom: 50px;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    max-width: 448px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 576px;
  }
}

.contacts-right h2 {
  margin-bottom: 30px;
  max-width: 352.8px;
  color: $title-color;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.33;

  @media screen and (max-width: $tablet) {
    font-size: 29px;
  }
}

.contacts-right p {
  margin-bottom: 76px;
  max-width: 375px;
  color: $text-color;

  font-size: 18px;
  font-weight: 300;
  line-height: 1.66;
}

.contacts-right a {
  margin-top: 0;
}

.form {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  max-width: 1200px;

  border-radius: 24px;
  background: linear-gradient(208deg, #6888c8 9.05%, #5a98f2 76.74%);
}

.form-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-wapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  padding: 0;
  border: none;
}

legend {
  margin-bottom: 39px;
  margin-left: auto;
  margin-right: auto;
  max-width: 398px;
  color: $white-color;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.33;

  @media screen and (max-width: $tablet) {
    font-size: 30px;
  }
}

.form-label {
  margin-bottom: 41px;
  display: block;

  color: $white-color;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.58;

  cursor: url("../image/cursor.png"), auto;
}

.form-label:last-child {
  margin-bottom: 57px;
}

.form-label input {
  display: block;
  margin: 0 auto;
}

input {
  width: 508px;
  padding: 0;
  background-color: inherit;
  // border: 1px solid $white-color;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid $white-color;
  color: $white-color;
  outline: none;

  @media screen and (max-width: $tablet) {
    width: 260px;
  }

  // background: #FFF;
}

.form-btn {
  padding: 0 230px;
  color: $white-color;

  // background-color: inherit;
  font-family: inherit;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 3.33;

  border: 1px solid $white-color;
  border-radius: 24px;
  background: linear-gradient(208deg, #6888c8 9.05%, #5a98f2 76.74%);

  cursor: url("../image/cursor-hand.png"), auto;

  @media screen and (max-width: $tablet) {
    padding: 0 108px;
  }
}

.form-btn:hover,
.form-btn:focus {
  background: #ff6666;
}

// footer
.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background: linear-gradient(183deg, #6888c8 -8.57%, #5a98f2 82.96%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.footer-wapper {
  display: flex;
  flex-wrap: wrap;
  gap: 260px;

  @media screen and (max-width: $tablet) {
    gap: 50px;
  }
}

.footer__link {
  margin-bottom: 20px;
  color: $white-color;

  font-size: 24px;
  font-weight: 700;
}

.footer__text {
  margin-bottom: 30px;
  max-width: 363px;
  color: $white-color;

  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.18px;
}

.footer__text2 {
  margin-bottom: 0;
  color: $white-color;

  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
}

.footer-right a {
  margin-bottom: 16px;
  color: $white-color;

  font-size: 20px;
  font-weight: 700;
  // line-height: 3;
}

.footer-right ul {
  color: $white-color;

  font-size: 18px;
  font-weight: 300;
  line-height: 2.11;
}
