.menu-button {
  // убрали все базовые стили кнопки
  display: inline-flex;

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-open {
  display: none;
}

.header {
  position: relative;
}

.mobile-menu {
  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 40;

    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transform: translateX(-100%);
    transition:
      opacity 250ms linear,
      // transform 250ms linear;
      visibility 250ms;

    // transform: translateX(-100%);
    // transition: transform 250ms linear 250ms;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
  pointer-events: none;
}

.mobile-content {
  @media screen and (max-width: $tablet) {
    height: 100%;
    width: 60%;
    background-color: $accent-color;
    transform: translateX(-100%);
    transition: transform 250ms linear;

    padding-top: 95px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.mobile-menu.is-open .mobile-content {
  transform: translateX(0);
}

.header__right {
  @media screen and (max-width: $tablet) {
    flex-direction: column;
    gap: 50px 0;
  }
}
