// footer
.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background: linear-gradient(183deg, #6888c8 -8.57%, #5a98f2 82.96%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.footer-wapper {
  display: flex;
  flex-wrap: wrap;
  gap: 260px;

  @media screen and (max-width: $tablet) {
    gap: 50px;
  }
}

.footer__link {
  margin-bottom: 20px;
  color: $white-color;

  font-size: 24px;
  font-weight: 700;
}

.footer__text {
  margin-bottom: 30px;
  max-width: 363px;
  color: $white-color;

  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.18px;

  @media screen and (max-width: $tablet) {
    max-width: 335px;
  }
}

.footer__text2 {
  margin-bottom: 0;
  color: $white-color;

  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
}

.footer-right a {
  margin-bottom: 16px;
  color: $white-color;

  font-size: 20px;
  font-weight: 700;
  // line-height: 3;
}

.footer-right ul {
  color: $white-color;

  font-size: 18px;
  font-weight: 300;
  line-height: 2.11;
}

.time-count {
  display: inline-block;
  padding: 30px;
  background: #fff;
  box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
  border-radius: 30px;
}

// .time-count__title {
//   display: inline-block;
// }
